- if @current_user
	%p 
		Bienvenido,
		%i.icon-user
		#{@current_user.name}!
	%p= link_to 'Desconectar', logout_path
- else
	%p= link_to 'Conectar con Google', '/auth/google_oauth2'

Modo pruebas
%ul.inline
	%li= button_to 'Ana', '/login_as_1'
	%li= button_to 'Pedro', '/login_as_2'
	%li= button_to 'Ramón', '/login_as_3'
	%li= button_to 'Isabel', '/login_as_4'