= form_tag messages_path, :method => :post do
  = hidden_field :message, :task_id, :value => @task.id
  .row-fluid
    .span11
      = text_field :message, :text, :required => true, placeholder: 'Escribe aquí tu mensaje', class: 'span12'
    .span1
      %button.btn.btn-primary(name="commit" type="submit" data-toggle="tooltip-send-message" title="Enviar mensaje")
        %i.icon-mail-forward

#message_list
  - if @task.messages
    - @task.messages.reverse_order.each do |message|
      = message.user.name + ': (' + message.created_at.to_date.to_s + ')'
      .row-fluid
        .span11.well
          = message.text
        .span1
          - if @current_user.owns_task? @task
            = link_to message_path(message.id), :method => :delete, :confirm => '¿Estás seguro?' do
              %button#delete-message.btn.btn-mini.pull-right(data-toggle="tooltip-delete-message" title="Eliminar mensaje")
                %i.icon-trash