.row-fluid
	.span4
		- unless @current_user.owns_task? @task
			Tarea de
			- contact_owner = @task.user.user_as_contact_for @current_user
			=link_to contact_path(contact_owner) do
				%i.icon-user
				= contact_owner.name

	.span6
		- if @task.completed
			%p#task_status
				Tarea completada 
				/
					- if @current_user.owns_task? @task 
						= link_to :controller => :tasks, :action => :uncomplete, :id => @task do
							%button#uncomplete-task.btn.btn-mini.btn-danger(data-toggle="tooltip-uncomplete-task" title="Marcar tarea como pendiente")
								%i.icon-remove
		- else
			%p#task_status
				- if @current_user.owns_task? @task
					- if @task.ends_today? && @task.deadline_missed?
						%button#postpone-task.btn.btn-mini(data-toggle="tooltip-postpone-task" title="Posponer la tarea hasta mañana")
							%i.icon-time
				Pendiente para:
				= @task.deadline ? @task.deadline_as_words : 'indefinido'
				- if @current_user.owns_task? @task
					%button#complete-task.btn.btn-mini(data-toggle="tooltip-complete-task" title="Marcar tarea como completada")
						%i.icon-ok

	.span2.btn-group
		- if @current_user.owns_task? @task
			= link_to task_path(@task), :method => :delete, :confirm => '¿Estás seguro?' do
				%button#delete-task.btn.btn-mini(data-toggle="tooltip-delete-task" title="Eliminar tarea")
					%i.icon-trash

			= link_to edit_task_path @task do
				%button#edit-task.btn.btn-mini(data-toggle="tooltip-edit-task" title="Editar tarea")
					%i.icon-pencil
		- else
			= link_to :controller => :tasks, :id => @task, :action => :refuse, :confirm => '¿Estás seguro?' do
				%button#refuse-task.btn.btn-mini(data-toggle="tooltip-delete-task" title="Dejar de seguir la tarea")
					%i.icon-remove

- if @current_user.has_google_account? && @task.completed != true
	.row-fluid
		.span6.offset6
			- if @task.syncronized_with_Google_Calendar_for? @current_user
				= link_to "Dejar de sincronizar tarea con calendario de Google", {:controller => :google_events, :action => :delete, :task_id => @task.id}, class: 'btn pull-right'
			- else
				= link_to "Sincronizar tarea con calendario de Google", {:controller => :google_events, :action => :create, :task_id => @task.id}, class: 'btn pull-right'