- unless @contact.errors.empty?
  #warning.alert.alert-error
    Se han producido los siguientes errores:
    = button_close
    %ul
      - @contact.errors.full_messages.each do |error|
        %li= error
.control-group
  .input-prepend
    %span.add-on
      = label :contact, :name, 'Nombre'
    = text_field :contact, :name, :required => true, :autofocus => true
  .input-prepend
    %span.add-on
      = label :contact, :email, 'Dirección de correo'
    = email_field :contact, :email, :required => true, :disabled => true
  = submit_tag 'Guardar', class: 'btn btn-primary'