- if @user
  #contact_bone_counter(data-toggle="tooltip-bone-counter" title="Has dado #{@number_of_bones_given_to_contact} hueso/s a #{@contact.name} y has recibido #{@number_of_bones_taken_from_contact}")
    %i.icon-chevron-up
    %span#bones_given
      = @number_of_bones_given_to_contact
    %img(src='/assets/bone-small.png')
    %span#bones_given
      = @number_of_bones_taken_from_contact
    %i.icon-chevron-down