%title Mi Mateo
%meta(name = 'description' content = 'Mi Mateo es un organizador de tareas en la nube, con el que puedes poner tareas en común con tus contactos y comunicarte con ellos.')
%meta(name = 'keywords' content = 'organizador, manager, tareas, tasks, social, nube, cloud')
= stylesheet_link_tag 'twitter/bootstrap'
= stylesheet_link_tag 'application'
= javascript_include_tag 'twitter/bootstrap'
= javascript_include_tag 'application'
= csrf_meta_tags