!!!5
%html(lang = 'es')
	%head
		= render :partial => 'layouts/head'
	%body.container-fluid
		.row-fluid#top_navbar.well
			= render :partial => 'layouts/navbar'
		%img(src='/assets/logo.png')
		#flash_hook
			- if flash[:notice]
				.alert
					= button_close
					= flash[:notice]
			- elsif flash[:warning]
				.alert.alert-error
					= button_close
					= flash[:warning]
			- elsif flash[:error]
				.alert.alert-error
					= button_close
					= flash[:error]
		.row-fluid#main_container
			#left_sidebar.span2
				= render :partial => 'tasks/task_sidebar'
			#main_content.span8
				= yield
			#right_sidebar.span2
				= render :partial => 'contacts/contact_sidebar'